// theme pain paint

// variables
$pp-DarkRed: #2d140a;
$pp-RedStone: #b24f2a;
$pp-LightFlesh: #f0dcd4;
$pp-petrol: #004d63;

body.theme_PainPaint {
    background-color: darken( $pp-DarkRed, 3% );
    font-family: 'Permanent Marker', 'Architects Daughter',  cursive;
    margin: 0;
    padding: 0;
    
    .container, .row {
        margin: 0;
        padding: 0;
        width: auto;
    }
    .section {
        border-radius: 0;
        border: none;
        box-shadow: none;
        height: 100vh;
        width: 100vw;
    }
    
    .konto {
        background-color: $pp-DarkRed;
        
        h4 {
            color: $pp-RedStone;
            font-size: 4vh;
        }
        h1 {
            color: $pp-LightFlesh;
            font-size: 8vh;
        }
        .btn {
            &-primary {

                background-color: darken($pp-RedStone, 5%);
                border-radius: 15vh;
                border: none;
                font-size: 10vh;
                height: 30vh;
                position: relative;
                width: 3em;

                .glyphicon-flash {
                    color: lighten( $pp-RedStone, 5%);
                    font-size: 32vh;
                    left: -1vh;
                    position: absolute;
                    top: -1vh;
                    
                    // glow animation
                    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
                    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
                    animation: neon5 1.5s ease-in-out infinite alternate;
                }
                
            }
            &-headline, &-value {
                display: block;
                position: absolute;
                text-align: center;
                width: 40vh;
            }

            &-headline {
                color: lighten( $pp-RedStone, 25%);
                font-size: 12vh;
                left: -5vh;
                top: 3vh;
            }
            &-value {
                color: lighten( $pp-RedStone, 15%);
                left: -5vh;
                top: 10vh;
                
                &-num {
                    font-size: 3vh;
                }
            }
        }
    }
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
    