// theme pain paint

// variables
$pp-DarkRed: #2d140a;
$pp-RedStone: #b24f2a;
$pp-LightFlesh: #f0dcd4;
$pp-petrol: #004d63;

body.theme_PainPaint {
    background-color: darken( $pp-DarkRed, 3% );
    font-family: 'Permanent Marker', 'Architects Daughter',  cursive;
    margin: 0;
    padding: 0;
    
    .container, .row {
        margin: 0;
        padding: 0;
        width: auto;
    }
    .section {
        border-radius: 0;
        border: none;
        box-shadow: none;
        height: 100vh;
        width: 100vw;
    }
    
    .konto {
        background-color: $pp-DarkRed;
        
        h4 {
            color: $pp-RedStone;
            font-size: 4vh;
        }
        h1 {
            color: $pp-LightFlesh;
            font-size: 8vh;
        }
        .btn-primary {
            background-color: $pp-petrol;
            border-color: lighten( $pp-petrol, 6%);
            border-radius: 15vh;
            border-style: groove;
            border-width: 1vh;
            height: 30vh;
            position: relative;
            width: 30vh;
            
            .glyphicon-flash {
                color: lighten( $pp-petrol, 5%);
                font-size: 32vh;
                left: -1vh;
                position: absolute;
                top: -1vh;
            }
            .btn-headline {
                display: block;
                font-size: 18vh;
                left: -5vh;
                position: absolute;
                text-align: center;
                top: -3vh;
                width: 40vh;
            }
        }
    }
}
    