// theme pain paint

// variables
$pp-DarkRed: #2d140a;
$pp-RedStone: #b24f2a;
$pp-LightFlesh: #f0dcd4;
$pp-petrol: #004d63;

body.theme_PainPaint {
    background-color: darken( $pp-DarkRed, 3% );
    font-family: 'Permanent Marker', 'Architects Daughter',  cursive;
    margin: 0;
    padding: 0;
    
    .container, .row {
        margin: 0;
        padding: 0;
        width: auto;
    }
    .section {
        border-radius: 0;
        border: none;
        box-shadow: none;
        height: 100vh;
        width: 100vw;
    }
    
    .konto {
        background-color: $pp-DarkRed;
        
        h4 {
            color: $pp-RedStone;
            font-size: 4vh;
        }
        h1 {
            color: $pp-LightFlesh;
            font-size: 8vh;
        }
        .btn {
            &-primary {
                background-color: darken($pp-RedStone, 5%);
                border-radius: 15vh;
                border: none;
                font-size: 10vh;
                height: 30vh;
                position: relative;
                width: 3em;

                .glyphicon-flash {
                    color: lighten($pp-RedStone, 5%);
                    font-size: 28vh;
                    left: 1vh;
                    position: absolute;
                    top: 1vh;
                    text-shadow: 0 0 0 #fff;
                    
                    transition-property: color, text, text-shadow, font-size, left, top;
                    transition-duration: 0.1s;
                    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out ease-in-out, ease-in-out;
                }
                
            }
            &-headline, &-value {
                display: block;
                position: absolute;
                text-align: center;
                width: 40vh;;
            }

            &-headline {
                color: lighten( $pp-RedStone, 25%);
                font-size: 12vh;
                left: -5vh;
                top: 3vh;
                    
                transition-property: font-size, left, top, color;
                transition-duration: 0.1s;
                transition-timing-function: ease-in, ease-in, ease-in, ease-in;
            }
            &-value {
                color: lighten( $pp-RedStone, 25%);
                left: -5vh;
                top: 10vh;
                
                &-num {
                    font-size: 3vh;
                }
            }
        }
        .btn-primary {
            &:hover, &:focus {
            
                .glyphicon-flash {
                    color: white;
                    font-size: 32vh;
                    left: -1vh;
                    top: -1vh;
                    
                    // glow animation
                    -webkit-animation: btn-IconFlash 1.5s ease-in-out infinite alternate;
                    -moz-animation: btn-IconFlash 1.5s ease-in-out infinite alternate;
                    animation: btn-IconFlash 1.5s ease-in-out infinite alternate;
                }
                
                .btn-headline {
                    color: darken( $pp-RedStone, 25%);
                    
                    // headline pulse
                    -webkit-animation: btn-Headline 1.5s ease-in-out infinite alternate;
                    -moz-animation: btn-Headline 1.5s ease-in-out infinite alternate;
                    animation: btn-Headline 1.5s ease-in-out infinite alternate;
                }
                
            }
        }
    }
}

@-webkit-keyframes btn-IconFlash {
  from {
    text-shadow:    0 0 1.25vh #fff, 
                    0 0 2.5vh #fff, 
                    0 0 3.75vh #fff, 
                    0 0 5vh #FF9900, 
                    0 0 8.75vh #FF9900, 
                    0 0 10vh #FF9900, 
                    0 0 12.5vh #FF9900, 
                    0 0 18.75vh #FF9900;
  }
  to {
    text-shadow:    0 0 2.5vh #fff, 
                    0 0 5vh #fff, 
                    0 0 7.5vh #fff, 
                    0 0 10vh #FF9900, 
                    0 0 17.5vh #FF9900, 
                    0 0 20vh #FF9900, 
                    0 0 25vh #FF9900, 
                    0 0 37.5vh #FF9900;
  }
}

@-moz-keyframes btn-IconFlash {
  from {
    text-shadow:    0 0 1.25vh #fff, 
                    0 0 2.5vh #fff, 
                    0 0 3.75vh #fff, 
                    0 0 5vh #FF9900, 
                    0 0 8.75vh #FF9900, 
                    0 0 10vh #FF9900, 
                    0 0 12.5vh #FF9900, 
                    0 0 18.75vh #FF9900;
  }
  to {
    text-shadow:    0 0 2.5vh #fff, 
                    0 0 5vh #fff, 
                    0 0 7.5vh #fff, 
                    0 0 10vh #FF9900, 
                    0 0 17.5vh #FF9900, 
                    0 0 20vh #FF9900, 
                    0 0 25vh #FF9900, 
                    0 0 37.5vh #FF9900;
  }
}

@keyframes btn-IconFlash {
  from {
    text-shadow:    0 0 1.25vh #fff, 
                    0 0 2.5vh #fff, 
                    0 0 3.75vh #fff, 
                    0 0 5vh #FF9900, 
                    0 0 8.75vh #FF9900, 
                    0 0 10vh #FF9900, 
                    0 0 12.5vh #FF9900, 
                    0 0 18.75vh #FF9900;
  }
  to {
    text-shadow:    0 0 2.5vh #fff, 
                    0 0 5vh #fff, 
                    0 0 7.5vh #fff, 
                    0 0 10vh #FF9900, 
                    0 0 17.5vh #FF9900, 
                    0 0 20vh #FF9900, 
                    0 0 25vh #FF9900, 
                    0 0 37.5vh #FF9900;
  }
}

@-webkit-keyframes btn-Headline {
  from {
    font-size:      14vh;
    left:           -5vh;
    top:            1vh;
  }
  to {
    font-size:      15vh;
    left:           -5.5vh; 
    top:            0vh;
  }
}

@-moz-keyframes btn-Headline {
  from {
    font-size:      14vh;
    left:           -5vh;
    top:            1vh;
  }
  to {
    font-size:      15vh;
    left:           -5.5vh; 
    top:            0vh;
  }
}

@keyframes btn-Headline {
  from {
    font-size:      14vh;
    left:           -5vh;
    top:            1vh;
  }
  to {
    font-size:      15vh;
    left:           -5.5vh; 
    top:            0vh;
  }
}


    